.email-div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.password-div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.f-name-div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.l-name-div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.Sign-up label {
  min-width: 106px;
  color: blueviolet;
  display: flex;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-decoration: dotted;
  font-size: x-large;
  text-align: right;
  padding-right: 10px;
}

.Sign-up input {
  display: flex;
  width: 10pc;
  padding: 1rem;
  background-color: rgb(249, 249, 249);
  margin-bottom: 1rem;
  border-color: rgb(174, 17, 226);
}

.Sign-up button {
  color: rgb(215, 183, 244);
  background-color: rgb(111, 70, 150);
  width: 8rem;
  height: 3rem;
}
.Gender {
  color: blueviolet;
  font-size: large;
  display: flex;
}
.Radio {
  margin-right: -4rem;
}
